body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1e26; /* Dark blue-gray background */
  color: #10032c; /* Light text for readability */
}

.App {
  text-align: center;
}

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c449a; /* Darker shade for navbar */
  color: #e4e4e4;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hero-section {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  background-color: #272b3a; /* Slightly lighter background */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
}

.left-part, .right-part {
  flex: 1;
  text-align: left;
  padding: 1.5rem;
}

.calendar-container {
  border: 1px solid #3a3f51;
  border-radius: 10px;
  background-color: #333a50; /* Dark blue with slight purple tone */
  padding: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.react-calendar {
  width: 100%;
  max-width: 600px;
  background-color: #3c4858; /* Balanced dark color */
  color: #e4e4e4;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.75rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #3a3f51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #afbef3; /* Slightly lighter for task items */
}

.meal-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  text-align: left;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #5ba4ff;
  border-radius: 4px;
  width: 200px; /* Fixed width for feedback input */
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #5ba4ff; /* Accent color for buttons */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

button:hover {
  background-color: #4b8ecc; /* Slightly darker on hover */
}